.container-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #535353;
    align-items: center;
}

.historic-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.protozoa-name-text {
    font-size: 17px;
    color: #1c1c1c;
}

.confidence-badge{
    color: #1c1c1c;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 21px;
}

.info-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

