.borderBar {
    width: 100%;
    height: 10px;
    background-color: #e5e7eb;
    border-radius: 5px;
}

.confidenceBar {
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.confidenceBarContainer {
    margin-top: 10px;
}

.textConfidenceBarContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.titleConfidence {
    font-weight: bold;
    color: #555;
}

.titlePercentage {
    font-weight: bold;
}