@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.protozoaIdentifier-Title {
    color: #007ea7;
    font-size: 80px;
}

.split-column {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-side {
    background-color: #00171f;
}

.output-side {
    background-color: #dbdbdb;
}

.inputs-div {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.inputs-div > p {
    color: #dbdbdb;
    padding: 10px;
}

#uploadBtn {
    background-color: #007ea7;
    color: #dbdbdb;
    border-radius: 24px;
    padding: 16px;
    border: none;
    font-size: 24px;
    width: 40%;
}

.hidden-input {
    opacity: 0;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden; 
    z-index: -1;
}

.file-label {
    background-color: #dbdbdb;
    color: #007ea7;
    border-radius: 24px;
    padding: 16px;
    width: 40%;
    display: block;
    font-size: 24px;
}

.custom-input-group {
    width: 100%; 
    display: flex;
    justify-content: center;
}